<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janesh.attendancecam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name="com.janesh.attendancecam.AttendanceCam"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.janesh.attendancecam.SignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.janesh.attendancecam.MainActivity" />
        </activity>
        <activity android:name="com.janesh.attendancecam.Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.janesh.attendancecam.EditCourses" />
        </activity>
        <activity android:name="com.janesh.attendancecam.TakeAttendance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.janesh.attendancecam.Menu" />
        </activity>
        <activity android:name="com.janesh.attendancecam.EditCourses"></activity>
        <activity android:name="com.janesh.attendancecam.AddCourse">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.janesh.attendancecam.EditCourses" />
        </activity>
        <activity android:name="com.janesh.attendancecam.EditStudents">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.janesh.attendancecam.Menu" />
        </activity>
        <activity android:name="com.janesh.attendancecam.AddStudent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.janesh.attendancecam.EditStudents" />
        </activity>
        <activity android:name="com.janesh.attendancecam.ImportStudentsByExcel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.janesh.attendancecam.AddStudent" />
        </activity>
        <activity android:name="com.janesh.attendancecam.SignIn" />

        <activity android:name="com.janesh.attendancecam.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>